*{
    background-image: url("/static/images/doctor.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav{
    height: 130px;
    width: 100%;

}
.title{
    background-color:aqua;
    font-size: larger;
    color:black;
    padding: 30px;
    font-family: 'Times New Roman';
    text-align: left;
}
.text{
    text-align: left;
    font-size: small;
    position: fixed;
    padding-left: 50px;
    font-family:cursive;
}
.btn-container {
    margin-top: 20px;
}

.btn-container a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #1c86c0, #021722);
    color: #fff;
    transition: background 0.3s;
}

.btn-container a:hover {
    background: linear-gradient(to bottom, #851400, #004477);
}

.footer{
    position: fixed;
    width: 100%;
    height:80px;
    bottom: 0;
}